/* styles.css */

html {
    background-color: rouge pink;	
}

h1 {
	font-family: Arial;
	color: hotpink;
	font-size: 40px;
	letter-spacing: 10px;
}

pre {
    font-family: Georgia;
	color: dodgerblue;
	font-size: 20px;
	letter-spacing: 5px;
	margin: 30px;
}




