/* styles.css */

html {
    background-color: #FFD1DC;	
}

h1 {
	font-family: Sacramento;
	color: #FDEFB2;
	font-size: 30px;
	letter-spacing: 10px;
}

pre {
    font-family: Sacramento;
	color: #6495ED;
	font-size: 15px;
	letter-spacing: 5px;
	margin: 30px;
}




