/* styles.css */

html {
    background-color: #DE5D83;	
}

h1 {
	font-family: Cursive;
	color: #FDEFB2;
	font-size: 30px;
	letter-spacing: 10px;
}

pre {
    font-family: Cursive;
	color: #98FF98;
	font-size: 15px;
	letter-spacing: 5px;
	margin: 30px;
}




